<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>notícia</title>
		</head>
	<body>

		<h1>Notícia</h1>

    <div>
      <i><%= noticia[0].id %></i>
      <h2><%= noticia[0].titulo %></h2>
      <p><%= noticia[0].noticia %></p>
    </div>

	</body>
</html>
