<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

    <form action="/noticias/salvar" method="post">
      <label for="">título da notícia</label><br>
      <input id="" type="text" placeholder="Insira o título da notícia"><br>
      <label for="">notícia</label><br>
      <textarea name="noticia" id="noticia" cols="30" rows="10" placeholder="Insira o conteúdo da notícia"></textarea><br>
      <input type="submit" value="enviar">
    </form>

	</body>
</html>